---
import { Image } from 'astro:assets';
import Amenities1 from "../assets/amenities/amenities-1.png";
import Amenities2 from "../assets/amenities/amenities-2.png";
import Amenities3 from "../assets/amenities/amenities-3.png";
import Amenities4 from "../assets/amenities/amenities-4.png";
import Amenities5 from "../assets/amenities/amenities-5.png";
import Amenities6 from "../assets/amenities/amenities-6.png";
import Amenities7 from "../assets/amenities/amenities-7.png";
import Amenities8 from "../assets/amenities/amenities-8.png";
import Amenities9 from "../assets/amenities/amenities-9.png";
import Amenities10 from "../assets/amenities/amenities-10.png";
import Amenities11 from "../assets/amenities/amenities-11.png";
import Amenities12 from "../assets/amenities/amenities-12.png";
import Amenities13 from "../assets/amenities/amenities-13.png";
import Amenities14 from "../assets/amenities/amenities-14.png";
import Amenities15 from "../assets/amenities/amenities-15.png";
import Amenities16 from "../assets/amenities/amenities-16.png";
---


<section class="bg-gray-100 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <!-- Heading -->
    <div class="text-center mb-8">
      <h2 class="text-4xl md:text-5xl font-phudu font-extrabold uppercase tracking-wide">
        AVAILABLE AMENITIES ON OUR JDK CHARTER 
        <span class="text-yellow-500">BUSES</span>
      </h2>
    </div>

    <!-- Grid -->
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">

      <!-- Card -->
      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities1} alt="Reclining Seats with Armrests" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Reclining Seats with Armrests
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities2} alt="Onboard Restroom" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Onboard Restroom
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities3} alt="Complimentary Wi-Fi" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Complimentary Wi-Fi
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities5} alt="Generous Legroom" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Generous Legroom
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities7} alt="ADA Accessibility" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          ADA Accessibility
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities8} alt="Ample Luggage Space" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Ample Luggage Space
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities9} alt="Individual Reading Lights" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Individual Reading Lights
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities11} alt="PA System / Microphones" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          PA System / Microphones
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities12} alt="Panoramic Windows" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Panoramic Windows
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities13} alt="Interior and Ambient Lighting" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Interior and Ambient Lighting
        </p>
      </div>
      
      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities6} alt="Climate Control with Personal Air Vents" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Climate Control with Personal Air Vents
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities14} alt="Perimeter Lighting for Night Visibility" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Perimeter Lighting for Night Visibility
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities15} alt="Entry Stairway for Smooth Boarding" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Entry Stairway for Smooth Boarding
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities16} alt="Standard, Premium, Luxury Seating" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Standard, Premium, Luxury Seating
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities4} alt="Power Outlets & USB Charging Ports at Every Seat" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Power Outlets & USB Charging Ports at Every Seat
        </p>
      </div>

      <div class="bg-white border border-gray-400 rounded-2xl py-8 md:py-6 px-6 text-center transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">
        <div class="mb-3 flex justify-center">
          <!-- Icon -->
          <Image src={Amenities10} alt="Onboard Entertainment System (TVs, DVD/Blu-ray, Streaming)" class="w-14 md:w-12 h-14 md:h-12 object-contain"></Image>
        </div>
        <p class="text-sm font-normal leading-snug">
          Onboard Entertainment System (TVs, DVD/Blu-ray, Streaming)
        </p>
      </div>

    </div>

  </div>
</section>