---
import { Image } from 'astro:assets';
import Bus1 from "../assets/busess/bus-1.png";
import Bus1Inside from "../assets/busess/bus1-inside.png";
import Bus2 from "../assets/busess/bus-2.png";
import Bus2Inside from "../assets/busess/bus2-inside.png";
import Bus3 from "../assets/busess/bus-3.png";
import Bus3Inside from "../assets/busess/bus3-inside.png";
import Bus4 from "../assets/busess/bus-4.png";
import Bus4Inside from "../assets/busess/bus4-inside.png";
import Bus5 from "../assets/busess/bus-5.png";
import Bus5Inside from "../assets/busess/bus5-inside.png";
import Bus6 from "../assets/busess/bus-6.png";
import Bus6Inside from "../assets/busess/bus6-inside.png";
import Bus7 from "../assets/busess/bus-7.png";
import Bus7Inside from "../assets/busess/bus7-inside.png";
import Bus8 from "../assets/busess/bus-8.png";
import Bus8Inside from "../assets/busess/bus8-inside.png";
import Bus9 from "../assets/busess/bus-9.png";
import Bus9Inside from "../assets/busess/bus9-inside.png";
import Bus10 from "../assets/busess/bus-10.png";
import Bus10Inside from "../assets/busess/bus10-inside.png";
import Bus11 from "../assets/busess/bus-11.png";
import Bus11Inside from "../assets/busess/bus11-inside.png";
import Bus12 from "../assets/busess/bus-12.png";
import Bus12Inside from "../assets/busess/bus12-inside.png";
import Bus13 from "../assets/busess/bus-13.png";
import Bus13Inside from "../assets/busess/bus13-inside.png";
import Bus14 from "../assets/busess/bus-14.png";
import Bus14Inside from "../assets/busess/bus14-inside.png";
import Bus15 from "../assets/busess/bus-15.png";
import Bus15Inside from "../assets/busess/bus15-inside.png";
---


<section class="bg-gray-100 py-12">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">

    <!-- Heading -->
    <div class="text-center mb-8">
      <h2 class="text-4xl md:text-5xl font-phudu font-extrabold uppercase tracking-wide">
        TYPES OF BUSES WE 
        <span class="text-primary">OFFER</span>
      </h2>
    </div>

    <!-- Grid -->
    <div class="grid md:grid-cols-3 gap-8">

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <!-- Title -->
        <h3 class="text-xl font-normal text-center mb-3">
            50 Passenger Charter Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus1} 
            alt="50 Passenger Charter Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus1Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            54 Passenger Charter Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus2} 
            alt="54 Passenger Charter Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus2Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            55 Passenger Charter Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus3} 
            alt="55 Passenger Charter Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus3Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            56 Passenger Charter Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus4} 
            alt="56 Passenger Charter Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus4Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            15 Passenger Minibus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus5} 
            alt="15 Passenger Minibus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus5Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            18 Passenger Minibus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus6} 
            alt="18 Passenger Minibus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus6Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            20 Passenger Mini Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus7} 
            alt="20 Passenger Mini Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus7Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            25 Passenger Mini Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus8} 
            alt="25 Passenger Mini Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus8Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            28 Passenger Mini Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus9} 
            alt="28 Passenger Mini Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus9Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            30 Passenger Minibus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus10} 
            alt="30 Passenger Minibus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus10Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            35 Passenger Minibus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus11} 
            alt="35 Passenger Minibus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus11Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            Sprinter Van
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus12} 
            alt="Sprinter Van" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus12Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="hidden group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            School Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus13} 
            alt="School Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus13Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            Party Bus
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus14} 
            alt="Party Bus" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus14Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

      <!-- Card -->
      <div class="hidden group bg-white rounded-2xl p-4 shadow-md 
            transition-all duration-500 hover:-translate-y-3 hover:shadow-2xl cursor-pointer">

        <h3 class="text-xl font-normal text-center mb-3">
            Sprinter Limo
        </h3>

        <!-- Bus Image -->
        <div class="overflow-hidden rounded-xl mb-4">
            <Image 
            src={Bus15} 
            alt="Sprinter Limo" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

        <!-- Button -->
        <div class="text-center mb-4">
            <button class="bg-primary hover:bg-yellow-600 
                        text-black font-normal px-6 py-2 
                        rounded-full 
                        transition-all duration-300 cursor-pointer open-modal">
            Get a Quote
            </button>
        </div>

        <!-- Interior Image -->
        <div class="overflow-hidden rounded-xl">
            <Image 
            src={Bus15Inside} 
            alt="Bus Interior" 
            quality={5} 
            class="w-full h-48 object-cover 
                    transition-transform duration-700 
                    group-hover:scale-110" />
        </div>

      </div>

    </div>
  </div>
</section>